* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666666;
  background-color: #666666;
  margin: 0; }

h2 {
  font-size: 1.25em; }

nav {
  top: 0;
  padding: 10px 20px;
  position: relative;
  height: 50px;
  background-color: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4); }
  nav img {
    height: 100%; }
  nav ul, nav li {
    display: inline-block;
    padding-left: 20px;
    vertical-align: middle; }
  nav a:link, nav a:visited {
    text-decoration: none; }

a:link, a:visited {
  color: #395885; }

#container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  background-color: white; }
  #container:before, #container:after {
    content: " ";
    display: table; }
  #container:after {
    clear: both; }
  #container p {
    font-size: .75em; }

header h1 {
  float: left;
  margin: 0; }
header div.downloads {
  float: right; }

div.row {
  *zoom: 1;
  display: block;
  clear: both;
  margin-bottom: 20px; }
  div.row:before, div.row:after {
    content: " ";
    display: table; }
  div.row:after {
    clear: both; }

#numbers {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  #numbers:last-child {
    margin-right: 0; }

#first-big-number {
  margin-left: 17.05961%; }

div.big-number {
  display: block;
  float: left;
  margin-right: 4.82916%;
  width: 30.11389%;
  text-align: center; }
  div.big-number:last-child {
    margin-right: 0; }
  div.big-number h2 {
    font-size: 5em;
    margin: 0; }

section.small-nums {
  display: block;
  float: left;
  margin-right: 4.82916%;
  width: 100%; }
  section.small-nums:last-child {
    margin-right: 0; }
  section.small-nums .titleCol {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 12.64237%;
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
    text-align: middle;
    padding: .5em; }
    section.small-nums .titleCol:last-child {
      margin-right: 0; }
  section.small-nums .col {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 30.11389%;
    font-weight: bold;
    font-size: 2em;
    text-align: right;
    vertical-align: middle; }
    section.small-nums .col:last-child {
      margin-right: 0; }

.clickthrough-row {
  margin-left: 34.94305%; }

.visits {
  color: #efb669; }

.clickthroughs {
  color: #5d9da1; }

#alerts {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  padding: 0 2.35765%;
  border-radius: 5px;
  background-color: #e6ddcb; }
  #alerts:last-child {
    margin-right: 0; }
  #alerts p {
    margin-top: 0; }

#total-graph, #ctr-graph {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  #total-graph:last-child, #ctr-graph:last-child {
    margin-right: 0; }

#placeholder {
  height: 359px; }

div.table {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 82.94039%;
  border: 1px #000 solid; }
  div.table:last-child {
    margin-right: 0; }
  div.table th, div.table td {
    display: block;
    float: left;
    margin-right: 2.84259%;
    width: 17.72593%;
    padding: 5px; }
    div.table th:last-child, div.table td:last-child {
      margin-right: 0; }
