* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

nav {
  padding: 20px; }

#container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  #container:before, #container:after {
    content: " ";
    display: table; }
  #container:after {
    clear: both; }

table {
  width: 100%; }

th, td {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 14.70196%; }
  th:last-child, td:last-child {
    margin-right: 0; }

#logo {
  width: 150px; }
