@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

$peach: darken(#e6ddcb, 5%);
$orange: #efb669;
$gray: #666666;
$bright-blue:#3b68aa;
$dark-blue:#395885;
$teal: #5d9da1;
$white: #ffffff;

body {
  font-family: $helvetica;
  color: $gray;
  background-color: $gray;
  margin: 0;
}

h2 {
  text-align: center;
  font-weight: normal;
  font-size: 1em;
  margin: 0 0 20px 0;
  color: $peach;
}

nav {
  top: 0;
  padding: 0px 20px;
  position:relative;

  height: 60px;

  background-color: $white;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
  .logo {
    background-image: url("../images/textlogo.png");
    background-size: cover;
    width: 80px;  
    height: 36px;
    float: left;
    margin: 12px 0px;
  }

  ul, li {
    display:inline;
  }
  
  .links {
    height: 60px; 
    padding: 20px;
  }

  a:link, a:visited {
    text-decoration: none;
    padding-right: 20px;
  }
}

a:link, a:visited {
    color: $dark-blue;
}

#container {
  @include outer-container;
  @include pad( 20px default );
  background-color: $white;
  p {
    font-size: .75em;
  }
}

div.row {
  @include row();
  padding: 20px 0 0 0;
}

header {
  h1 {
    margin: 0;
  }
}

#funnel-numbers {
  @include span-columns( 6 );
}

#first-big-number {
  @include shift(2);
}

div.big-number {
  @include span-columns( 2 of 6 );
  text-align: center;
  font-size: .9em;
  // padding: 0 0 20px 0;
  h2 {
    font-size: 6em;
    margin: 0;
  }
}

section.small-nums {
  @include span-columns( 6 of 6 );

  padding: 10px;

  .titleCol {
    @include span-columns (1 of 6);
    text-align:middle;
    padding: .2em;
  }
  .numberCol {
    @include span-columns (2 of 6);
    // font-weight: bold;
    font-size: 2em;
    text-align: right;
    vertical-align: middle;

  }
}

.clickthrough-row {
  @include shift(2);
}

.number {
  color: #efb669;
  padding: 0;
}



#total-graph {
  @include span-columns( 6 );
  @include omega();
}

#ctr-graph {
  @include span-columns( 12 );
  @include omega();
}

#ctr-numbers {
  @include span-columns ( 12 );
  div.big-number h2 {
    font-size: 4em;
  }
}

#alerts {
  @include span-columns( 6 );
  p {
    margin-top: 0;
    font-size: 1em;
  }
  div.date {
    font-size: .75em;
    color: $gray;
 
  }
}

#actions {
  @include span-columns ( 6 );
  a.button {
    display: inline-block;
    width: 100%;
    padding: 20px;
    margin: 0 0 20px 0;
    text-align:center;
    border-radius: 3px;
    background-color: $teal; 
  }

  a:link,a:visited {
    color: $white;
    text-decoration: none;
    font-size: 1.25em;
  }
}

.logofooter {
  align: center;
}
