@import "bourbon/bourbon";
// $visual-grid: true;
// $visual-grid-color: grey;
// $visual-grid-index: front;
// $visual-grid-opacity: 0.1;
@import "neat/neat";

$peach: #e6ddcb;
$orange: #efb669;
$gray: #666666;
$bright-blue:#3b68aa;
$dark-blue:#395885;
$teal: #5d9da1;
$white: #ffffff;

body {
  font-family: $helvetica;
  color: $gray;
  background-color: $gray;
  margin: 0;
}

nav {
  top: 0;
  padding: 10px 20px;
  position:relative;
  height: 50px;
  background-color: $white;
  box-shadow: 3px 3px 3px rgba(0,0,0,0.4);
  
  img {
    height: 100%;
  }

  ul,li {
    display:inline-block;
    padding-left: 20px;
    vertical-align: middle;
  }
  a:link, a:visited {
      text-decoration: none;
  }
}

a:link, a:visited {
    color: $dark-blue;
}

#container {
  @include outer-container;
  @include pad( 20px default );
  background-color: $white;
}

header {
  h1 {
    float: left;
  }
  .downloads {
    float: right;
  }
}

#first-row {
  @include row();
  clear: both;
}

#numbers {
  @include span-columns( 6 );
  // border: 1px $gray solid;

}

.big-number {
  @include span-columns( 3 of 6 );
  text-align: center;

  h2 {
    font-size: 5em;
    margin: 0;
  }

  p {
    margin: 0;
    font-size: 1em;
  }
}

.small-numbers {
  margin: 0;

  th, td {
    padding: 0px;
  }

  th {
    width: 50%;
    font-weight: normal;
    text-align: right;
    // width: 30px;
  }
  td {
    font-weight: bold;
    font-size: 2em;
  }
}

.visits {
  color: $orange;
}

.clickthroughs {
  color: $teal;
}

#graph {
  @include span-columns( 6 );
}

#placeholder {
  height: 359px;
}

table {
  width:100%;
  text-align: center;
  
}

.table {
  @include span-columns( 10 );
  border:1px #000 solid;
  th, td {
    @include span-columns( 2 of 10 );
    padding: 5px;
  }
}

