* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666666;
  background-color: #666666;
  margin: 0; }

h2 {
  text-align: center;
  font-weight: normal;
  font-size: 1em;
  margin: 0 0 20px 0;
  color: #ded2ba; }

nav {
  top: 0;
  padding: 0;
  position: relative;
  background-color: white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4); }
  nav .logo {
    background-image: url("../images/textlogo.png");
    background-size: cover;
    height: 50px; }
  nav ul, nav li {
    display: inline;
    padding-left: 20px;
    vertical-align: middle; }
  nav a:link, nav a:visited {
    text-decoration: none; }

a:link, a:visited {
  color: #395885; }

#container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 2.35765%;
  background-color: white; }
  #container:before, #container:after {
    content: " ";
    display: table; }
  #container:after {
    clear: both; }
  #container p {
    font-size: .75em; }

div.row {
  *zoom: 1;
  display: block;
  padding: 20px 0 0 0; }
  div.row:before, div.row:after {
    content: " ";
    display: table; }
  div.row:after {
    clear: both; }

header h1 {
  margin: 0; }

#funnel-numbers {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  #funnel-numbers:last-child {
    margin-right: 0; }

#first-big-number {
  margin-left: 17.05961%; }

div.big-number {
  display: block;
  float: left;
  margin-right: 4.82916%;
  width: 30.11389%;
  text-align: center;
  font-size: .9em; }
  div.big-number:last-child {
    margin-right: 0; }
  div.big-number h2 {
    font-size: 6em;
    margin: 0; }

section.small-nums {
  display: block;
  float: left;
  margin-right: 4.82916%;
  width: 100%;
  padding: 10px; }
  section.small-nums:last-child {
    margin-right: 0; }
  section.small-nums .titleCol {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 12.64237%;
    text-align: middle;
    padding: .2em; }
    section.small-nums .titleCol:last-child {
      margin-right: 0; }
  section.small-nums .numberCol {
    display: block;
    float: left;
    margin-right: 4.82916%;
    width: 30.11389%;
    font-size: 2em;
    text-align: right;
    vertical-align: middle; }
    section.small-nums .numberCol:last-child {
      margin-right: 0; }

.clickthrough-row {
  margin-left: 34.94305%; }

.number {
  color: #efb669;
  padding: 0; }

#total-graph {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%;
  margin-right: 0; }
  #total-graph:last-child {
    margin-right: 0; }

#ctr-graph {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%;
  margin-right: 0; }
  #ctr-graph:last-child {
    margin-right: 0; }

#ctr-numbers {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 100%; }
  #ctr-numbers:last-child {
    margin-right: 0; }
  #ctr-numbers div.big-number h2 {
    font-size: 4em; }

#alerts {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  #alerts:last-child {
    margin-right: 0; }
  #alerts p {
    margin-top: 0;
    font-size: 1em; }
  #alerts div.date {
    font-size: .75em;
    color: #666666; }

#actions {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  #actions:last-child {
    margin-right: 0; }
  #actions a.button {
    display: inline-block;
    width: 100%;
    padding: 20px;
    margin: 0 0 20px 0;
    text-align: center;
    border-radius: 3px;
    background-color: #5d9da1; }
  #actions a:link, #actions a:visited {
    color: white;
    text-decoration: none;
    font-size: 1.25em; }

.logofooter {
  align: center; }
